label.lesson-tile {
    position: relative;
    width: 100%;
    height: 146px;
    cursor: pointer; }

label.lesson-tile > input[type="radio"] {
    opacity: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    z-index: 1;
    top: 0;
    left: 0;
    cursor: inherit;
    position: absolute; }

label.lesson-tile > input[type="radio"]:checked + div {
    /* Note: this should be pulled from the theme */
    background-color: #6264A7;
    color: #FFF !important; }

label.lesson-tile:hover div {
    /* Note: this should be pulled from the theme */
    background-color: #6264A7;
    color: #FFF !important; }

label.lesson-tile > input[type="radio"]:checked + div span {
    color: #FFF !important; }

label.lesson-tile:hover div span {
    color: #FFF !important; }
